@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*NAVBAR*/
.navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    .navbar p {
        float: left;
        font-size: 20px;
        color: white;
        text-align: center;
        text-decoration: none;
    }

  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 0 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #141414;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*BODY*/

body {
    /*background-color: #474747;*/
    background: rgb(177,177,177);
    background: linear-gradient(180deg, rgba(177,177,177,1) 0%, rgba(68,68,68,1) 100%, rgba(55,55,55,1) 100%);
    color: #EDEDED;
    font-family: 'Montserrat'
}

h1 {
  font-family: 'Baskerville';
}

header {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Baskerville';
}

/*ABOUT ME*/
.aboutme {
  display: grid;
  grid-template-columns: 40% 60%;
  
}

.aboutme h1 {
    margin: 110px 0 0 110px;
}

.aboutme p {
    margin: 0 0 0 110px;
    width: 400px;
}


/*GENERAL STYLING*/
.tussenruimtediv{
    padding: 100px 0 0 0;
    
} 

.hometitle{
    margin: 0;
    text-align: center;
    font-size: 50px;
}

.hometext{
    text-align: center;
    font-size: 20px;
    padding: 20px 0 50px 0;
    margin: 0;
}

.homecontent {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat';
}

.homecontent h1{
    font-size: 25px;
}

.homecontent a{
    color: white;
}

.homecontent figure { 
    
    width: 25%;                   
}

.homecontent figure img {
    height: 300px;  
    width: 300px;
    border-radius: 5%; 
    box-shadow: black 0px 0px 10px; 
    border: 5px solid #000000;        
    
}

.homecontent figure img:hover{
    border: 5px solid #95989A;       
}




h1 {
  font-family: 'Baskerville';
}

h2 {
  font-family: 'Baskerville ';
}

#fancy {
  margin: 200px 200px 0 0 ;
}


.posters {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

#silversnow {
  padding: 50px;
  justify-content: end;
}


.padding {
    padding: 0 20% 0 20%;
}

.tussenruimte {
    margin: 0 0 200px 0;
}
.kleinetussenruimte {
    margin: 0 0 100px 0;
}
.minitussenruimte{
    margin: 0 0 50px 0;
}

.progres {
  display: flex;
  height: 325px;
  justify-content: center;
  gap: 5%;
}


/* BUTTON */
.button {
    
  border-radius: 4px;
  background-color: #95989A;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  cursor: pointer; /*Zorgt ervoor dat de cursor een pointer word als die erover komt*/
}



.button:hover span:after { 
  opacity: 1;
  right: 0;
  
}
.button:hover{
  animation: animatebutton 1s ;
  animation-fill-mode: forwards;
}


/*Animatie*/
@keyframes animatebutton {
  
  0% {
      border-radius: 4px;
  }
  100% {
      border-radius: 20px;
  }
}

#knop {
  text-decoration: none;
  color: white;
}